---
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

import Layout from 'src/layouts/Layout.astro';
import ExampleButton from 'src/components/ExampleButton.astro';
---

<Layout>
	<div class="flex justify-center items-center h-screen">
		<ExampleButton />
	</div>
</Layout>
